body{
    margin-left: 20px;
}
#todo-list{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    font-size: 20px;
    align-items: center;
}
input{
    font-size: 16px;
    padding: 5px 10px;
}
button{
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    height: 35px;
}
.delete-button{
    background-color: rgb(216, 3, 3);
    height: 35px;
}
